<%= tinymce_assets %>
<section id="section-editar" class="min-margin-top">
	<div class="form-horizontal">
	    <div class="col-lg-12 text-center login-title">
			<h3>Editar Postagem</h3>
		</div>
			<%= render 'form' %>
	</div>

</section>

