<section id="section-cadasro" class="min-margin-top">
	<div class="form-horizontal">
	    <div class="col-lg-12 text-center login-title">
	        <h1>Nova Postagem</h1>
	    	</br>
	        <h4></h4>
	    </div>
		<%= render 'form' %>

		<%= link_to 'Back', posts_path %>
	</div>

</section>


