.post-list {
  border: 1px solid #eeeeee !important;
  border-left-width: 5px !important;
  border-radius: 3px !important;
  padding: 40px;
  padding-left: 5px !important;
}

.post-list:hover{
  border-left-color: #000000 !important;
  padding: 40px;
  padding-left: 5px !important;
}

.post-list-sm {
  border: 1px solid #eeeeee !important;
  border-left-width: 5px !important;
  border-radius: 3px !important;
  /*margin-left: 10px;*/
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 30px !important;
  padding-bottom: 30px;
  padding-top: 30px;
}

.post-list-sm:hover{
  border-left-color: #000000 !important;
  /*margin-left: 10px;*/
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 30px !important;
  padding-bottom: 30px;
  padding-top: 30px;
}


.icon-edit {
	font-size: 20px;
	
}

.post-button {
  padding-top: 25px;
  padding-left: 80px;
}

/*
.icon-edit:hover {
	background-color: #CDC8B1;
	text-decoration: none;
}*/

.image-post {
  margin-right: 10px;
}