.post-list {
  border: 1px solid #eeeeee !important;
  border-left-width: 5px !important;
  border-radius: 3px !important;
  padding: 20px;
}

.post-list:hover{
  border-left-color: #000000 !important;
  padding: 20px;
}

.post-list-sm {
  border: 1px solid #eeeeee !important;
  border-left-width: 5px !important;
  border-radius: 3px !important;
  margin-left: 10px;
  margin-right: 10px;
}

.post-list-sm:hover{
  border-left-color: #000000 !important;
  margin-left: 10px;
  margin-right: 10px;
}


.icon-edit {
	font-size: 20px;
	
}
/*
.icon-edit:hover {
	background-color: #CDC8B1;
	text-decoration: none;
}*/