.profile-background {
	background-color: #fbf7ee;
	border-radius: 5px;

}

.profile-image {
	border-radius: 60px;
	margin-top: 20px;
	margin-bottom: 10px;

}

.space-between {
	margin-left: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.badge-custom {
  margin: 15px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}